*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}
 
header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
 
.logo-container,
.nav-links,
.cart {
    display: flex;
}
 
.logo-container {
    flex: 1;
    font-size: 15pt;
}
 
nav {
    flex: 2;
    text-align: center;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
    margin-right: 50%;
    
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50%;
}
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
}
